* {
    font-family: 'Poppins', sans-serif;
}

.html {
    font-family: 'Poppins', sans-serif;
}

.body {
    font-family: 'Poppins', sans-serif;
}

.noImgSelect {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.contaienerPage {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.scrollbar {}

.scrollbar::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    /* border-radius: 10px; */
    background-color: rgb(212, 212, 212);
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);*/
    background-color: #000000;
}

.bg {
    z-index: -1;
    background: black;
    margin: 0 auto;
    background-image: url('~/assets/img/bg_home.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: visible;
    opacity: 1;
}

.cls-1 {
    stroke: black;
    stroke-miterlimit: 10;
    stroke-width: 6px;
}

#logo {
    position: relative;
    fill: none;
    -webkit-animation: filltxt 1s ease forwards 5s;
    animation: filltxt 1s ease forwards 5s;
}

#logo path:nth-child(1) {
    stroke-dasharray: 1187;
    stroke-dashoffset: 1187;
    -webkit-animation: animation1 2s ease forwards;
    animation: animation1 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 962;
    stroke-dashoffset: 962;
    -webkit-animation: animation1 2s ease forwards 0.3s;
    animation: animation1 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 810;
    stroke-dashoffset: 810;
    -webkit-animation: animation1 2s ease forwards 0.6s;
    animation: animation1 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 922;
    stroke-dashoffset: 922;
    -webkit-animation: animation1 2s ease forwards 0.9s;
    animation: animation1 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 810;
    stroke-dashoffset: 810;
    -webkit-animation: animation1 2s ease forwards 1.2s;
    animation: animation1 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 446;
    stroke-dashoffset: 446;
    -webkit-animation: animation1 2s ease forwards 1.5s;
    animation: animation1 2s ease forwards 1.5s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 788;
    stroke-dashoffset: 788;
    -webkit-animation: animation1 2s ease forwards 1.8s;
    animation: animation1 2s ease forwards 1.8s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 588;
    stroke-dashoffset: 588;
    -webkit-animation: animation1 2s ease forwards 2.1s;
    animation: animation1 2s ease forwards 2.1s;
}

#logo path:nth-child(9) {
    stroke-dasharray: 448;
    stroke-dashoffset: 448;
    -webkit-animation: animation1 2s ease forwards 2.4s;
    animation: animation1 2s ease forwards 2.4s;
}

#logo path:nth-child(10) {
    stroke-dasharray: 810;
    stroke-dashoffset: 810;
    -webkit-animation: animation1 2s ease forwards 2.7s;
    animation: animation1 2s ease forwards 2.7s;
}

#logo path:nth-child(11) {
    stroke-dasharray: 789;
    stroke-dashoffset: 789;
    -webkit-animation: animation1 2s ease forwards 3s;
    animation: animation1 2s ease forwards 3s;
}

@-webkit-keyframes animation1 {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes animation1 {
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes filltxt {
    from {
        fill: transparent;
    }
    to {
        fill: black;
    }
}

@keyframes filltxt {
    from {
        fill: transparent;
    }
    to {
        fill: black;
    }
}

.btn {
    width: 250px;
    border-radius: 25px;
    border: 2px solid black;
    color: black;
    background-color: white;
}

.btn:hover {
    color: white;
    background-color: black;
}

.btn2 {
    width: 250px;
    border-radius: 25px;
    border: 2px solid black;
    color: black;
    background-color: white;
}

.btn2:hover {
    color: white;
    border: 2px solid white;
    background-color: black;
}

.blackWhite {
    background: white;
    box-shadow: 0px -1px 9px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px -1px 9px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 9px 1px rgba(0, 0, 0, 0.75);
}


/* button:hover {
    outline: none;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 5px;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li,
.slick-dots li button {
    width: 20px;
    height: 20px;
    cursor: pointer;
} */

.slick-track[data-v-e4caeaf8] {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.slick-track.slick-center[data-v-e4caeaf8] {
    margin-left: auto;
    margin-right: auto
}

.slick-track[data-v-e4caeaf8]:after,
.slick-track[data-v-e4caeaf8]:before {
    display: table;
    content: ""
}

.slick-track[data-v-e4caeaf8]:after {
    clear: both
}

.slick-loading .slick-track[data-v-e4caeaf8] {
    visibility: hidden
}

.slick-slide[data-v-e4caeaf8] {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide[data-v-e4caeaf8] {
    float: right
}

.slick-slide img[data-v-e4caeaf8] {
    display: block
}

.slick-slide.slick-loading img[data-v-e4caeaf8] {
    display: none
}

.slick-slide.dragging img[data-v-e4caeaf8] {
    pointer-events: none
}

.slick-initialized .slick-slide[data-v-e4caeaf8] {
    display: block
}

.slick-loading .slick-slide[data-v-e4caeaf8] {
    visibility: hidden
}

.slick-vertical .slick-slide[data-v-e4caeaf8] {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden[data-v-21137603] {
    display: none
}

.slick-slider[data-v-3d1a4f76] {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list[data-v-3d1a4f76] {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.slick-list[data-v-3d1a4f76]:focus {
    outline: none
}

.slick-list.dragging[data-v-3d1a4f76] {
    cursor: pointer;
    cursor: hand
}


/* Arrows */

.slick-arrow {
    border-radius: 25px;
    background: rgba(65, 65, 65, 0.5);
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    /* background: transparent;*/
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: rgba(65, 65, 65, 0.8);
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 12px;
    z-index: 2;
}

[dir='rtl'] .slick-prev {
    /*right: -25px;*/
    right: 12px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    /* right: -25px;*/
    right: 12px;
}

[dir='rtl'] .slick-next {
    right: auto;
    /*left: -25px;*/
    left: 12px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}


/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    /*  bottom: -25px;*/
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 20px;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 40px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 0.5;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: 0.9;
    color: white;
}

.min30 {
    min-width: 30px;
}